src/main/resources/students-grades.dtd

<!ELEMENT students (student)*>
        <!ELEMENT student (firstName|lastName|birthDate|birthPlace|pesel|subjects|mean)*>
        <!ELEMENT firstName (#PCDATA)>
        <!ELEMENT lastName (#PCDATA)>
        <!ELEMENT birthDate (#PCDATA)>
        <!ELEMENT birthPlace (#PCDATA)>
        <!ELEMENT pesel (#PCDATA)>
        <!ELEMENT subjects (subject)*>
        <!ELEMENT subject (name|grade)*>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT grade (#PCDATA)>
        <!ELEMENT mean (#PCDATA)>
