src/main/resources/students-grades.dtd

<!ELEMENT students (student)*>
        <!ELEMENT student (firstName|lastName|subjects|behaviour)*>
        <!ELEMENT firstName (#PCDATA)>
        <!ELEMENT lastName (#PCDATA)>
        <!ELEMENT subjects (subject)*>
        <!ELEMENT subject (name|grade)*>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT grade (#PCDATA)>
        <!ELEMENT behaviour (#PCDATA)>
